@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #14ff20;
  --dark-main: #17a022;
  --main-dark: #212121;
  --light-grey: #323232;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-dark);
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
  color: whitesmoke;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: var(--main-dark);
  cursor: pointer;
  font-size: 2rem;
}

.btn:hover {
  background: var(--dark-main);
  color: whitesmoke;
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: whitesmoke;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 3rem;
  font-weight: bolder;
}

header .logo span {
  text-transform: uppercase;
  color: var(--main-color);
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: whitesmoke;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--main-color);
}

header .follow a {
  font-size: 2.5rem;
  color: whitesmoke;
  margin: 0.7rem;
}

header .follow a:hover {
  color: #1da1f2;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  border-radius: 10%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content .greet {
  font-size: 2rem;
  color: var(--dark-main);
}

.home .content h3 {
  font-size: 4.2rem;
  color: whitesmoke;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: whitesmoke;
  padding: 0.5rem 0;
}

.home .content .text {
  font-size: 1.7rem;
  color: rgb(180, 180, 180);
  padding: 0.5rem 0;
}

hr {
  height: 2px;
  border-width: 0;
  background-color: var(--light-grey);
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background-color: var(--main-color);
  color: whitesmoke;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
  }
  #menu-bars {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header {
    width: 100%;
  }
}
